body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1420px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u3673_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:873px;
}
#u3673 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:297px;
  width:1440px;
  height:873px;
}
#u3674 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:428px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1440px;
  height:873px;
}
#u3675 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-120px;
  width:1440px;
  height:873px;
}
#u3676 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:428px;
  width:1436px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3678 {
  position:fixed;
  left:0px;
  top:0px;
  width:1430px;
  height:40px;
  overflow:hidden;
}
#u3678_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1430px;
  height:40px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u3678_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1435px;
  height:41px;
  background:inherit;
  background-color:rgba(0, 0, 153, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3679 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:1435px;
  height:41px;
}
#u3680 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:12px;
  width:1431px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:99px;
  height:37px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#330033;
}
#u3681 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:2px;
  width:99px;
  height:37px;
  color:#330033;
}
#u3682 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:10px;
  width:95px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3683 {
  border-width:0px;
  position:absolute;
  left:30px;
  top:6px;
  width:61px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
}
#u3684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u3685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  border:none;
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3685 {
  border-width:0px;
  position:absolute;
  left:1310px;
  top:4px;
  width:80px;
  height:32px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3686 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:76px;
  word-wrap:break-word;
}
#u3687_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:264px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 0, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3687 {
  border-width:0px;
  position:absolute;
  left:836px;
  top:6px;
  width:264px;
  height:30px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#999999;
  text-align:left;
}
#u3688 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:260px;
  word-wrap:break-word;
}
#u3689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 51, 102, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(0, 0, 0, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3689 {
  border-width:0px;
  position:absolute;
  left:1110px;
  top:6px;
  width:60px;
  height:30px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u3690 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:7px;
  width:56px;
  word-wrap:break-word;
}
#u3691_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3691 {
  border-width:0px;
  position:absolute;
  left:289px;
  top:10px;
  width:29px;
  height:17px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3692 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3693_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3693 {
  border-width:0px;
  position:absolute;
  left:178px;
  top:10px;
  width:43px;
  height:17px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3694 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  white-space:nowrap;
}
#u3695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:19px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 0, 0, 1);
  border:none;
  border-radius:100px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3695 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:11px;
  width:19px;
  height:19px;
  color:#FFFFFF;
}
#u3696 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:15px;
  word-wrap:break-word;
}
#u3697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u3697 {
  border-width:0px;
  position:absolute;
  left:1225px;
  top:2px;
  width:27px;
  height:16px;
  color:#FFFFFF;
}
#u3698 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:27px;
  white-space:nowrap;
}
#u3699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:32px;
  height:32px;
}
#u3699 {
  border-width:0px;
  position:absolute;
  left:1262px;
  top:4px;
  width:32px;
  height:32px;
}
#u3700 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:8px;
  width:28px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:12px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FFFFFF;
}
#u3701 {
  border-width:0px;
  position:absolute;
  left:1226px;
  top:23px;
  width:28px;
  height:12px;
  font-size:14px;
  color:#FFFFFF;
}
#u3702 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-2px;
  width:24px;
  word-wrap:break-word;
}
#u3703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3703 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:10px;
  width:29px;
  height:17px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u3704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  white-space:nowrap;
}
#u3705 {
  position:absolute;
  left:372px;
  top:152px;
  visibility:hidden;
}
#u3705_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:686px;
  height:551px;
  background-image:none;
}
#u3705_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3706_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:551px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u3706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:686px;
  height:551px;
}
#u3707 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:268px;
  width:682px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3708_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3708 {
  border-width:0px;
  position:absolute;
  left:39px;
  top:30px;
  width:129px;
  height:38px;
  font-family:'PingFang SC Semibold', 'PingFang SC';
  font-weight:650;
  font-style:normal;
}
#u3709 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u3710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:520px;
  height:260px;
}
#u3710 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:115px;
  width:520px;
  height:260px;
}
#u3711 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:122px;
  width:516px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3712 {
  position:absolute;
  left:180px;
  top:211px;
}
#u3712_state0 {
  position:relative;
  left:0px;
  top:0px;
  width:315px;
  height:64px;
  background-image:none;
}
#u3712_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u3713 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:81px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u3714 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u3715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:315px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u3716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:315px;
  white-space:nowrap;
}
#u3712_state1 {
  position:relative;
  left:0px;
  top:0px;
  width:197px;
  height:24px;
  visibility:hidden;
  background-image:none;
}
#u3712_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u3717 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:0px;
  width:81px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#CCCCCC;
}
#u3718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  white-space:nowrap;
}
#u3712_state2 {
  position:relative;
  left:0px;
  top:0px;
  width:320px;
  height:55px;
  visibility:hidden;
  background-image:none;
}
#u3712_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3719_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u3719 {
  border-width:0px;
  position:absolute;
  left:116px;
  top:22px;
  width:135px;
  height:24px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#000000;
}
#u3720 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  white-space:nowrap;
}
#u3721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u3721 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:35px;
  width:20px;
  height:20px;
}
#u3722 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3723_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  height:19px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  text-decoration:underline;
}
#u3723 {
  border-width:0px;
  position:absolute;
  left:316px;
  top:53px;
  width:277px;
  height:19px;
  font-size:16px;
  text-decoration:underline;
}
#u3724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:277px;
  white-space:nowrap;
}
#u3725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:687px;
  height:2px;
}
#u3725 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:461px;
  width:686px;
  height:1px;
}
#u3726 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:682px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:50px;
  background:inherit;
  background-color:rgba(0, 0, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3727 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:481px;
  width:122px;
  height:50px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#FFFFFF;
}
#u3728 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:118px;
  word-wrap:break-word;
}
#u3729_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3729 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:481px;
  width:122px;
  height:50px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u3730 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:118px;
  word-wrap:break-word;
}
#u3731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:26px;
  height:24px;
}
#u3731 {
  border-width:0px;
  position:absolute;
  left:1275px;
  top:70px;
  width:25px;
  height:23px;
}
#u3732 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:21px;
  visibility:hidden;
  word-wrap:break-word;
}
