body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1867px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6762 {
  border-width:0px;
  position:absolute;
  left:35px;
  top:91px;
  width:84px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6763 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u6764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6764 {
  border-width:0px;
  position:absolute;
  left:193px;
  top:80px;
  width:164px;
  height:42px;
}
#u6765 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:160px;
  word-wrap:break-word;
}
#u6766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6766 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:18px;
  width:164px;
  height:60px;
}
#u6767 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:160px;
  word-wrap:break-word;
}
#u6768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6768 {
  border-width:0px;
  position:absolute;
  left:399px;
  top:161px;
  width:164px;
  height:42px;
}
#u6769 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:160px;
  word-wrap:break-word;
}
#u6770 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:101px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6770_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u6770_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-57px;
  width:8px;
  height:61px;
}
#u6770_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-57px;
  width:23px;
  height:8px;
}
#u6770_seg3 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:-62px;
  width:19px;
  height:18px;
}
#u6771 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:-33px;
  width:100px;
  word-wrap:break-word;
}
#u6772 {
  border-width:0px;
  position:absolute;
  left:357px;
  top:101px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6772_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:27px;
  height:8px;
}
#u6772_seg1 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:-4px;
  width:8px;
  height:89px;
}
#u6772_seg2 {
  border-width:0px;
  position:absolute;
  left:19px;
  top:77px;
  width:23px;
  height:8px;
}
#u6772_seg3 {
  border-width:0px;
  position:absolute;
  left:29px;
  top:72px;
  width:19px;
  height:18px;
}
#u6773 {
  border-width:0px;
  position:absolute;
  left:-27px;
  top:30px;
  width:100px;
  word-wrap:break-word;
}
#u6774 {
  border-width:0px;
  position:absolute;
  left:119px;
  top:101px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6774_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:78px;
  height:8px;
}
#u6774_seg1 {
  border-width:0px;
  position:absolute;
  left:61px;
  top:-9px;
  width:19px;
  height:18px;
}
#u6775 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(102, 102, 102, 1);
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6776 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:474px;
  width:84px;
  height:20px;
  font-family:'PingFang SC';
  font-weight:400;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u6777 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:2px;
  width:80px;
  word-wrap:break-word;
}
#u6778_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:490px;
  height:184px;
}
#u6778 {
  border-width:0px;
  position:absolute;
  left:1125px;
  top:440px;
  width:480px;
  height:174px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6779 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:79px;
  width:476px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6781 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6782_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:75px;
  height:31px;
}
#u6782 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:456px;
  width:65px;
  height:21px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u6783 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  white-space:nowrap;
}
#u6784 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6785 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6786_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:445px;
  height:28px;
}
#u6786 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:508px;
  width:435px;
  height:18px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6787 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:435px;
  white-space:nowrap;
}
#u6788 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:577px;
  width:100px;
  height:17px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6789 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:0px;
  width:82px;
  word-wrap:break-word;
}
#u6788_input {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-2px;
}
#u6790_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:459px;
  height:12px;
}
#u6790 {
  border-width:0px;
  position:absolute;
  left:1140px;
  top:487px;
  width:448px;
  height:1px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6791 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:-8px;
  width:444px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6792_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:35px;
}
#u6792 {
  border-width:0px;
  position:absolute;
  left:1370px;
  top:573px;
  width:100px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u6792_img.mouseOver {
}
#u6792.mouseOver {
}
#u6792_img.mouseDown {
}
#u6792.mouseDown {
}
#u6793 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u6794_img {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:-5px;
  width:110px;
  height:35px;
}
#u6794 {
  border-width:0px;
  position:absolute;
  left:1488px;
  top:573px;
  width:100px;
  height:25px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
}
#u6794_img.mouseOver {
}
#u6794.mouseOver {
}
#u6794_img.mouseDown {
}
#u6794.mouseDown {
}
#u6795 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:96px;
  word-wrap:break-word;
}
#u6796_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6796 {
  border-width:0px;
  position:absolute;
  left:1663px;
  top:437px;
  width:204px;
  height:42px;
}
#u6797 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:200px;
  word-wrap:break-word;
}
#u6798_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:204px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6798 {
  border-width:0px;
  position:absolute;
  left:1663px;
  top:572px;
  width:204px;
  height:42px;
}
#u6799 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:200px;
  word-wrap:break-word;
}
#u6800_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:69px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6800 {
  border-width:0px;
  position:absolute;
  left:566px;
  top:321px;
  width:164px;
  height:69px;
}
#u6801 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:11px;
  width:160px;
  word-wrap:break-word;
}
#u6802 {
  border-width:0px;
  position:absolute;
  left:100px;
  top:484px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6802_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:104px;
  height:8px;
}
#u6802_seg1 {
  border-width:0px;
  position:absolute;
  left:87px;
  top:-9px;
  width:19px;
  height:18px;
}
#u6803 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6804_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:164px;
  height:42px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6804 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:636px;
  width:164px;
  height:42px;
}
#u6805 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:13px;
  width:160px;
  word-wrap:break-word;
}
#u6806 {
  border-width:0px;
  position:absolute;
  left:1420px;
  top:573px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6806_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-37px;
  width:8px;
  height:37px;
}
#u6806_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-37px;
  width:238px;
  height:8px;
}
#u6806_seg2 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:-119px;
  width:8px;
  height:90px;
}
#u6806_seg3 {
  border-width:0px;
  position:absolute;
  left:226px;
  top:-119px;
  width:17px;
  height:8px;
}
#u6806_seg4 {
  border-width:0px;
  position:absolute;
  left:230px;
  top:-124px;
  width:19px;
  height:18px;
}
#u6807 {
  border-width:0px;
  position:absolute;
  left:96px;
  top:-41px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6808 {
  border-width:0px;
  position:absolute;
  left:1588px;
  top:586px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6808_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:66px;
  height:8px;
}
#u6808_seg1 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:-4px;
  width:8px;
  height:15px;
}
#u6808_seg2 {
  border-width:0px;
  position:absolute;
  left:58px;
  top:3px;
  width:17px;
  height:8px;
}
#u6808_seg3 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:-2px;
  width:19px;
  height:18px;
}
#u6809 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:395px;
  height:361px;
}
#u6810 {
  border-width:0px;
  position:absolute;
  left:146px;
  top:307px;
  width:395px;
  height:361px;
}
#u6811 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:172px;
  width:391px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6812 {
  border-width:0px;
  position:absolute;
  left:476px;
  top:607px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6812_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-16px;
  width:8px;
  height:16px;
}
#u6812_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-16px;
  width:45px;
  height:8px;
}
#u6812_seg2 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-255px;
  width:8px;
  height:247px;
}
#u6812_seg3 {
  border-width:0px;
  position:absolute;
  left:33px;
  top:-255px;
  width:57px;
  height:8px;
}
#u6812_seg4 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:-260px;
  width:19px;
  height:18px;
}
#u6813 {
  border-width:0px;
  position:absolute;
  left:-13px;
  top:-142px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6814 {
  border-width:0px;
  position:absolute;
  left:390px;
  top:636px;
  width:0px;
  height:0px;
  font-family:'微软雅黑';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u6814_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:25px;
}
#u6814_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:17px;
  width:170px;
  height:8px;
}
#u6814_seg2 {
  border-width:0px;
  position:absolute;
  left:153px;
  top:12px;
  width:19px;
  height:18px;
}
#u6815 {
  border-width:0px;
  position:absolute;
  left:22px;
  top:13px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
